@page "/"
@using BackupRestore.Data;

@inject RecoveryService RecoveryService

<PageTitle>Home</PageTitle>

<h1>Backup Restore Helper</h1>

<span>
    This is a simple web app to restore backups, which where indexed with the BackupFileIndexer.
</span>
<br />
<span>
    Currently only loading and browsing are supported, but restoring the actual backup will be one of the next priorities.
</span>

@*<button class="row" @onclick="GetFile">Get File Path</button>
<span>@pathFile</span>

<button class="row" @onclick="GetDir">Get Folder Path</button>
<span>@pathDir</span>

@code {
    private string pathDir = "";
    private string pathFile = "";

    private void GetDir()
    {
        pathDir = RecoveryService.GetDirectoryPath();

    }
    private void GetFile()
    {
        pathFile = RecoveryService.GetFilePath("");

    }
}*@