.toolbox-grid {
    display: grid;
    grid-template-columns: repeat(5, 10rem 1rem);
}

.parameter {
    display: grid;
    grid-template-columns: 10rem 10rem;
}

.store-grid {
    display: grid;
    grid-template-columns: 7rem 14rem 6rem 7rem 8rem;
}

    .store-grid div {
        margin-left: 1rem;
        width: fit-content;
    }

.metadata-select {
    display: grid;
    grid-template-columns: calc(100% - 15rem) 1rem 12rem;
}

.search-toolbox {
    display: grid;
    grid-template-columns: 30rem 1rem 1rem 9rem 1rem 5rem 1rem 5rem;
}

.row {
    margin-bottom: 1em;
    margin-top: 1em;
    width: fit-content;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
}

.dropdown li {
    padding: 8px;
}

    .dropdown li input[type=checkbox] {
        margin-right: 8px;
    }
